<div class="container">
  <div class="row mt-3">
    <div class="col-md-12">
      <h3 class="text-center">Add Patient</h3>
      <hr>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-body">
          <form class="row g-3" autocomplete="off">
            <div class="col-md-6">
              <label for="firstName" class="form-label">First Name</label>
              <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="patientCreateModel.firstName">
            </div>
            <div class="col-md-6">
              <label for="lastName" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="patientCreateModel.lastName">
            </div>
            <div class="col-md-3">
              <label for="age" class="form-label">Age</label>
              <input type="number" class="form-control" id="age" name="age" [(ngModel)]="patientCreateModel.age">
            </div>
            <div class="col-md-3">
              <label for="ganderId" class="form-label">Gander</label>
              <select id="ganderId" class="form-select" name="ganderId" [(ngModel)]="patientCreateModel.ganderId">
                <option value="0">-- Select --</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Other</option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="patientCreateModel.email" 
                placeholder="example@abc.com">
            </div>
            <div class="col-md-3">
              <label for="phoneNumber" class="form-label">Phone Number</label>
              <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="patientCreateModel.phoneNumber">
            </div>
            <div class="col-md-6">
              <label for="doctorName" class="form-label">Doctor Name</label>
              <input type="text" class="form-control" id="doctorName" name="doctorName" [(ngModel)]="patientCreateModel.doctorName">
            </div>
            <div class="col-md-6">
              <label for="appointmentDate" class="form-label">Appointment Date</label>
              <input type="datetime-local" class="form-control" id="appointmentDate" name="appointmentDate" 
                [(ngModel)]="patientCreateModel.AppointmentDate">
            </div>
            <div class="col-md-6">
              <label for="problemDescription" class="form-label">Disease Description</label>
              <textarea class="form-control" id="problemDescription" name="problemDescription"  
                [(ngModel)]="patientCreateModel.problemDescription">
              </textarea>
            </div>
            <div class="col-md-6">
              <label for="address" class="form-label">Address</label>
              <textarea class="form-control" id="address" name="address"  
                [(ngModel)]="patientCreateModel.address">
              </textarea>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-sm btn-outline-success" (click)="onClickCreatePatient()">
                <i class="bi bi-floppy"></i>
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>